@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    /* Primary */
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);
    /* Accent */
    --blue: hsl(248, 32%, 49%);
    /* Neutral */
    --dark-blue: hsl(249, 10%, 26%);
    --grayish-blue: hsl(246, 25%, 77%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.error-icon,
.error-text {
    display: none;
}

html {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./images/bg-intro-desktop.png);
    background-color: var(--red);
    padding: 100px 0;
}

.intro-component {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

.left-part {
    width: 50%;
}

.left-part h1 {
    color: #fff;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 20px;
}

.left-part p {
    color: #fff;
    font-size: 18px;
}

.right-part {
    width: 50%;
}

.right-part .top-part {
    background-color: var(--blue);
    color: #fff;
    padding: 10px 30px;
    text-align: center;
    max-width: 85%;
    font-size: 14px;
    border-radius: 8px;
    margin-bottom: 25px;
    box-shadow: 0px 2px 5px hsl(300, 1%, 42%);
}

.right-part .top-part span {
    font-weight: bold;
}

.right-part .form-contaner {
    background-color: #fff;
    padding: 40px;
    max-width: 85%;
    border-radius: 7px;
    box-shadow: 0px 2px 6px hsl(0, 0%, 51%);
}

.field-group {
    position: relative;
    margin-bottom: 22px;
}

.form-contaner .field-group label {
    display: none;
}

.right-part input,
.right-part button[type=submit] {
    width: 100%;
    height: 40px;
    margin-bottom: 4px;
    border-radius: 6px;
    border: 1.5px solid var(--grayish-blue);
    padding-left: 20px;
    outline: none;
    color: var(--dark-blue);
    font-size: 14px;
    font-weight: 500;
}

.right-part input:focus {
    border: 1.5px solid var(--blue);
}

.right-part input::placeholder {
    color: hsla(249, 10%, 26%, 0.678);
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.right-part button[type=submit] {
    cursor: pointer;
    background-color: var(--green);
    box-shadow: 0px 4px hsl(154, 56%, 44%);
    color: white;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: none;
}

.right-part button[type=submit]:hover {
    background-color: hsl(154, 73%, 65%);
}

.right-part .form-footer {
    margin-top: 10px;
    color: var(--grayish-blue);
    font-size: 13px;
    text-align: center;

}

.right-part .form-footer span {
    color: var(--red);
    font-weight: 700;
}

.error-text {
    /* display: block; */
    text-align: right;
    bottom: 0;
    right: 0;
    font-size: .8rem;
    font-style: italic;
    color: var(--red);
    font-weight: 500;
}

.error-icon {
    /* display: block; */
    position: absolute;
    right: 15px;
    top: 8px
}

.field-group.error .error-text,
.field-group.error .error-icon {
    display: block;
}

.field-group.error input {
    border: 2px solid var(--red);
}

@media only screen and (max-width:375px) {
    .container {
        background-image: url(./images/bg-intro-mobile.png);
    }

    .intro-component {
        flex-direction: column;
        margin: 20px 15px;
    }

    .left-part {
        width: 100%;
        text-align: center;
        margin-bottom: 40px;
    }

    .left-part h1 {
        font-size: 25px;
    }

    .left-part p {
        font-size: 14px;
    }

    .right-part {
        width: 90%;
    }

    .right-part .top-part {
        max-width: 100%;
    }

    .right-part .top-part p {
        font-size: 13px;
        padding: 0px 30px;
    }

    .right-part .form-contaner {
        max-width: 100%;
        padding: 20px;
    }
    .field-group{
        margin-bottom: 10px;
    }

    .right-part input,
    .right-part button[type=submit] {
        font-size: 10px;

    }
    .right-part button[type=submit]{
        margin-bottom: 15px;
        padding: 10px 20px;
    }
    .right-part .form-footer {
        font-size: 10px;
        text-align: center;
        width: 90%;
        margin: auto;
    }
    .error-text {
        font-size: .7rem;
    }

}